.Container{
    width: 100px;
}

section{
    display: flex;
    flex-direction: column;
}

section img{
    width: 65px;
    height: 65px;
    margin: auto;
    border-radius: 50%;
    border: solid 3px;
    border-color: rgba(145, 145, 145, 0.497);
    cursor: pointer;
}

section p{
    font-size: 16px;
    font-weight: 400;
    align-self: center;
    font-family: Helvetica;
}