*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Container {
	display: flex;
    justify-content: center;
}