.generalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Mockup{
    margin-left: 10%;
}

.Mockup img{
    margin-left: 15%;
    height: 86vh;
}

.Logo{
    width: 10vw;
    margin: 3vh 0;
}

.Login h3{
    color: rgb(168, 168, 168);
}

#Terms{
    font-size: small;
    margin-top: 3vh;
}

.Login{
    background-color: white;
    border: 1px solid rgb(195, 195, 195);
    width: 20vw;
    height: 52vh;
    margin: 0 auto;
    margin-top: 3vh;
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
}

.GoRegister t {
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.Blue{
    color: rgb(6, 31, 170);
    cursor: pointer;
    margin: 1vh;
}

.Download, .GoRegister{
    width: 20vw;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.GoRegister{
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
    margin-top: 50px;
}

.Store{
    width: 9.5vw;
    height: 6vh;
    border-radius: 10px;
    cursor: pointer;
}

.GreySmall{
    color: rgb(168, 168, 168);
    cursor: pointer;
    font-size: small;
    margin: 3vh auto;
    width: 55vw;
    text-align: center;
}