.stories-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 20%;
    margin-top: 30px;
    padding-top: 10px;
    border: solid 1px rgba(189, 189, 189, 0.498);
    border-radius: 12px;
}