* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body-feed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
}
my-nav {
    position: fixed;
}
app-home {
    margin-left: 20%;
}