* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-size: 18px;
}

Section{
    width: 550px;
    height: 700px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
    margin: auto;
}

/*Header*/
.Header{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 0px 15px;
}

.Header img{
    width: 45px;
    height: 45px;
    margin: 5px;
}

.Header .User{
    display: flex;
}

.Header .Username{
    padding: 10px;
}

.Header .Username h5{
    font-size: 0.7em;
    font-weight: 500;
}

.Header .IconDots{
    width: 25px;
    height: 25px;
    margin: 20px 10px 10px 10px;
}

/*Content*/
.Content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0 5px 0;
}

/*Icons*/
.Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Icons img{
    width: 25px;
    height: 25px; 
    margin: 5px;  
}

.Icons .Heart{
    margin-left: 20px;
}

.Icons .Save{
    margin-right: 15px;
}

/*Description*/
.Description{
    padding: 5px 20px;
}

.Description .Caption{
    display: flex;
}

.Description .Caption h4{
    font-weight: 300;
    padding: 2px;
}

.Description .Caption span{
    color: #22a6de;
}

.Description p{
    color: #888d90;
}

.Description .Date{
    font-size: 0.6em;
}